{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "jsxSingleQuote": false,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(react|next|react-dom)",
    "^@?[a-z]",
    "^@/",
    "^\\.",
    "^(?!.*\\.[css|scss]).*$",
    "\\.[css|scss]$"
  ]
}
